@font-face {
    src: url('https://fonts.googleapis.com/css?family=Inter');
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

input[type="file"] {
    display: none;
}

input[type="checkbox"] {
    background: linear-gradient(180deg, #0B59DA 0%, #0A4FC2 100%);
    box-shadow: 0 1px 2px rgb(17 55 78 / 12%);
    border-radius: 3px;
    height: 16px;
    width: 16px;
}
