.uploader {
    width: 155px;
    height: 37px;
    background: #EBF4FF;
    border-radius: 8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #0263E0;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.disabled {
    background: #F4F4F6;
    color: #AEB2C1;
    cursor: not-allowed;
    pointer-events: all !important;
}

.disabled svg{
    fill: #AEB2C1;
}
.disabled svg path{
    fill: #AEB2C1;
}

.uploader svg{
    margin-right: 5px;
}
